<div class="row">
  <div class="small-8 columns">
      <%= render partial: "pending_orders" %>
      <%= render partial: "previous_orders" %>
  </div>

  <div class="small-4 columns">
    <%= render partial: "cart" %>
  </div>
  
</div>
