<h5>Employee List</h5>

<% unless @employee_list.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <% @employee_list.each do |user| %>
        <tr>
          <td><%= user.proper_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no employees at this time.</p>
<% end %>