<h5>Store Stats</h5>

  <table class="table table-striped">
    <tbody>
        <tr>
          <td>Total Revenue</td>
          <td><%= @total_revenue %></td>
        </tr>
        <tr>
          <td>Number of Orders Placed</td>
          <td><%= @number_of_orders %></td>
        </tr>
        <tr>
          <td>Number of Registered Customers</td>
          <td><%= @number_of_customers %></td>
        </tr>
    </tbody>
  </table>
